header img {
    text-align: center;
    width: 20%;
    height: 15%;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #000000;
    /* Poderia usar:;
    color: #ff0000;*/
    /* Poderia usar:;
    color: rgb(255, 0, 0);*/
}

p{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 90%;
    font-size: 15px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;

}

body {
    background: rgb(248, 248, 255);
    text-align: center;
}

ul {
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
}

.menu {
    white-space: nowrap;
    max-width: 580px;
    margin: 5px auto;
    width: 90%;
    background-color: #009900;
    border: 1px solid black;
    display: flex;
}

ul {
    list-style: none;
}
